<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <link rel="apple-touch-icon" href="<%- favicon %>" sizes="180x180" />
  <link rel="icon" href="<%- favicon %>" sizes="32x32" type="image/png" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta name="color-scheme" content="light dark">
  <title><%- vtuber %>チャンネル歌枠検索（非公式）</title>
  <meta content="<%- vtuber %>さんの過去の歌枠から、ライブ配信内の楽曲を瞬時に検索。曲名やアーティスト名を入力するだけで、該当箇所にワンクリックで移動できる非公式ツール。"
        name="description"/>
  <meta content="website" property="og:type">
  <meta content="<%- vtuber %>チャンネル歌枠検索" property="og:title">
  <meta content="<%- vtuber %>さんの過去の歌枠から、ライブ配信内の楽曲を瞬時に検索。曲名やアーティスト名を入力するだけで、該当箇所にワンクリックで移動できる非公式ツール。"
        property="og:description">
  <meta content="<%- cover %>" property="og:image">
  <meta content="summary" name="twitter:card">
  <meta content="<%- vtuber %>チャンネル歌枠検索" name="twitter:title">
  <meta content="<%- vtuber %>さんの過去の歌枠から、ライブ配信内の楽曲を瞬時に検索。曲名やアーティスト名を入力するだけで、該当箇所にワンクリックで移動できる非公式ツール。"
        name="twitter:description">
  <meta content="<%- cover %>" name="twitter:image">
  <link rel="stylesheet" href="/iconfont/iconfont.css?t=<%- t %>"/>
</head>
<body>
<h1 class="visually-hidden"><%- vtuber %>チャンネル歌枠検索（非公式）</h1>
<main id="app" class="container"></main>
<script src="/src/main.ts" type="module"></script>
</body>
</html>
